body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background: url(media/paper-brown.jpg);
    background-size: stretch;
    background-repeat: no-repeat;
    scroll-behavior:smooth;
    overflow: hidden;
    scroll-snap-type: y mandatory;
}
html {

}

.section1 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(media/paper-brown.jpg);
    background-size: stretch;
    background-repeat: no-repeat;

}

.navbar {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    width: 100vw;
    height: fit-content;
    justify-content: space-between;


}

.navbar h3 {
    margin: 1rem;
    margin-left: 8rem;
    text-align: center;
    align-self: center;
    font-size: 2rem;
    font-family: 'Modern No. 20', sans-serif;
    text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.3);
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    margin-right: 8rem;
    gap: 2rem;
    font-family: 'open sans', sans-serif;
    font-size: 1.3rem;
}

.menu a {
    text-decoration: none;
    color: black;
    text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.3);
}

.menu a:hover {
    cursor: url(media/heartCursor.png), auto;
}

.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: url(media/frame.png);
    width: 70rem;
    height: 70rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.hero h1 {
    font-family: 'Parisienne', cursive;
    font-size: 4rem;
    margin: 20px;
    color: rgb(0, 0, 0);
    text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.3);
}

.hero h2 {
    font-family: 'Modern No. 20', sans-serif;
    font-size: 3rem;
    margin: 20px;
    text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.3);
                                                
}

.herosub {
    display: flex;
    flex-direction: row;
    font-family: 'open sans', sans-serif ;
    gap: 1rem;
    font-size: 1.3rem;
    font-weight: 700;
    text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.3);

}


#year {
    font-family: 'open sans', sans-serif ;
    gap: 1rem;
    font-size: 1.3rem;
    font-weight: 700;
    text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.3);
}

.scrolldown {
  scroll-behavior: smooth;
}

.scrolldown img {
    width: 4rem;
}

.scrolldown a:hover {
    cursor: url(media/heartCursor.png), auto;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    background: url(media/paper-brown.jpg);
    background-size: stretch;
    background-repeat: no-repeat;
    scroll-snap-align: start;
}

.section2 h1 {
  margin-top: 100px;
    font-family: 'Parisienne', cursive;
    text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.3);
    font-size: 6rem;
    text-align: center;
}

.hero2sub {
    display: flex;
    flex-direction: row;
    font-family: 'open sans', sans-serif ;
    gap: 1rem;
    font-size: 1.3rem;
    font-weight: 700;
    text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.3);
    max-width: 1000px;
    margin-bottom: 100px;
    text-align: justify;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
  height: fit-content;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: black;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  left: 0;
}

.container.left .content {
  margin-left: 140px;
}

.container.right {
  left: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid black;
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: black;
  z-index: 1;
}

.container.right::before {
  left: 8px;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container.left .date {
  right: -75px;
}

.container.right .date {
  left: -75px;
}

.container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  border: 2px solid black;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: black;
  z-index: 1;
}

.container.left .icon {
  right: 56px;
}

.container.right .icon {
  left: 56px;
}

.container .content {
  padding: 30px 90px 30px 30px;
  position: relative;
  border-radius: 16px;
}

.container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 16px;
}

.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 2rem;
  font-family: 'Parisienne', cursive;
  font-weight: 600;
  color: black;
  width: fit-content;
  text-align: center;
}


@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
}

  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after, 
  .container.right::after {
    left: 82px;
  }

  .container.left::before,
  .container.right::before {
    left: 100px;
    border-color: transparent black transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: 15px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 146px;
  }

  .container.left .content,
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
    width: 200px;
  }
}

.section3 {
  display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    background: url(media/paper-brown.jpg);
    background-size: stretch;
    background-repeat: no-repeat;
}

.section3 h1 {
  margin-top: 100px;
  margin-bottom: 0px;
  font-family: 'Parisienne', cursive;
  text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.3);
  font-size: 6rem;
  text-align: center;
}

.section3 a {
  text-decoration: solid;
}

.hero3sub p{
  max-width: 1000px;
  font-family: 'open sans', sans-serif ;
  font-size: 1.3rem;
  text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.3);
  text-align: justify;
}

.section3 li {
  max-width: 1000px;
  font-family: 'open sans', sans-serif ;
  font-size: 1.5rem;
  text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.3);
  text-align: justify;
}

.section3 p {
  max-width: 1000px;
  font-family: 'open sans', sans-serif ;
  font-size: 1.5rem;
  text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.3);
  text-align: justify;
}


.hero4 {
  margin-top: 100px;
  font-family: 'Parisienne', cursive;
  text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.3);
  font-size: 3rem;
  text-align: center;
}

.hero4 h1 {
  margin-top: 0px;
}

.hero4sub {
  max-width: 1000px;
  font-family: 'open sans', sans-serif ;
  font-size: 1.5rem;
  text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.3);
  text-align: justify;
}

.section4 {
  display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    background: url(media/paper-brown.jpg);
    background-size: stretch;
    background-repeat: no-repeat;
}

.hero5 {
  margin-top: 100px;
  margin-bottom: 0px;
  font-family: 'Parisienne', cursive;
  text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.3);
  font-size: 3rem;
  text-align: center;
}

.hero5sub {
  max-width: 1000px;
  font-family: 'open sans', sans-serif ;
  font-size: 1.5rem;
  text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.3);
  text-align: justify;
  margin-bottom: 50px;
}

.hero5 h1 {
  margin-top: 0px;
}

.hero6 h1 {
  margin-top: 100px;
  margin-bottom: 0px;
  font-family: 'Parisienne', cursive;
  text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.3);
  font-size: 6rem;
  text-align: center;
}

.hero6sub p {
  max-width: 1000px;
  font-family: 'open sans', sans-serif ;
  font-size: 1.5rem;
  text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.3);
  text-align: justify;
  margin-bottom: 200px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.footerul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: url(media/paper-brown.jpg);
}

.footerul ul {
  list-style: none;
  max-width: 1000px;
  font-family: 'open sans', sans-serif ;
  font-size: 1.2rem;
  text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.3);
  text-align: justify;
  text-decoration: solid;
}

@media screen and (max-width: 1210px) {
  .hero {
    width: 50rem;
    height: 50rem;
  }
  
  .hero h1 {
    font-size: 3rem;
  }

  .menu {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1080px) {
  .hero2sub,
  .hero3sub,
  .hero4sub, 
  .hero5sub,
  .hero6sub {
    max-width: 750px;
  }

  .footerul ul {
    max-width: 750px;
    font-size: 1rem;
  }

  .container.left .content {
    margin-left: 0px;
  }
}

@media screen and (max-width: 850px) {
  .hero {
    width: 40rem;
    height: 40rem;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero h2 {
    font-size: 2rem;
  }

  .hero p{
    font-size: 1rem;
  }

  .hero2sub,
  .hero3sub,
  .hero4sub, 
  .hero5sub,
  .hero6sub {
    max-width: 650px;
  }

  .container.left .content {
    margin-left: -25px;
  }

  .footerul ul {
    max-width: 650px;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 700px){
  .hero2sub,
  .hero3sub,
  .hero4sub, 
  .hero5sub,
  .hero6sub {
    max-width: 550px;
  }
  .hero2 h1,
  .hero3 h1,
  .hero4 h1,
  .hero5 h1,
  .hero6 h1,
  .section3 h1 {
    font-size: 2rem;
  }
  .hero {
    width: 30rem;
    height: 30rem;
  }

  .hero h1 {
    font-size: 1.8rem;
    margin: 0px;
    margin-top: 30px;
  }

  .scrolldown {
    display: none;
  }

  .section1 {
    height: 60vh;
  }

  .hero h2 {
    font-size: 1.5rem;
    margin: 2px;
    margin-bottom: 10px;
  }

  #year {
    font-size: 1rem;
    margin-top: 0px;
  }

  .hero p{
    font-size: 0.8rem;
  }

  .navbar h3 {
    margin-left: 2rem;
  }

  .menu {
    margin-right: 2rem;
  }

  .hero2sub,
  .hero3sub,
  .hero4sub, 
  .hero5sub,
  .hero6sub {
    max-width: 450px;
  }

  .footerul ul {
    max-width: 450px;
    font-size: 0.6rem;
  }

  .container.left h2 {
    margin-left: 75px;
  }

  .section3 ul {
    max-width: 450px;
  }

  .section3 li {
    margin: 10px;
    text-align: left;
  }

  .section3 p {
    max-width: 450px;
  }
}

@media screen and (max-width: 560px) {
  .menu {
    display: none;
  }

  .navbar {
    position: relative;
  }

  .hero {
    background: none;
  }
  .hero h1 {
    font-size: 3rem;
    margin: 0px;
    margin-top: 30px;
  }

  .hero h2 {
    font-size: 2rem;
  }
  #year {
    font-size: 1rem;
    margin-top: 0px;
  }

  .hero p{
    font-size: 1rem;
  }

  .section1 {
    height: 50vh;
  }

 .footerul ul {
  padding: 0px;
 }
 .hero2sub,
  .hero3sub,
  .hero4sub, 
  .hero5sub,
  .hero6sub {
    max-width: 400px;
  }

  .osasvar {
    max-width: 400px;
  }
  .container.left h2 {
    margin-left: 30px;
  }
}